@import "../../Mixins"

.head
  width: 100vw
  height: 56px
  background-color: #fff
  @include display(flex)
  @include position(fixed)
  @include align-items(center)
  @include justify-content(center)

  &__container
    @include display(grid)
    @include grid-column-gap(30px)
    @include grid-template-columns(1fr 1fr)