@import "../../Mixins"

.head
  width: 100vw
  height: 72px
  background-color: #fff
  @include display(flex)
  @include position(fixed)
  @include align-items(center)
  @include justify-content(space-between)

  &__container
    width: 100%
    margin: 0 auto
    max-width: 1146px
    @include display(flex)
    @include justify-content(space-between)
    @include align-items(center)

.logo
  @include display(flex)
  @include align-items(center)

  &__text, a
    text-underline: none
    color: #333
    font-size: 22px
    font-weight: 700
    margin-left: 16px
    font-family: Montserrat
    text-transform: uppercase